# .pylintrc

[MASTER]
disable=all

load-plugins=pylint.extensions.typing
jobs=4

# Ignore CI scripts directory.
ignore-paths=^ci/.*$

# Enable selected checks
enable=
    invalid-name,
    duplicate-key,
    superfluous-parens,
    dangerous-default-value,
    useless-return,
    unbalanced-tuple-unpacking,
    unnecessary-pass,
    empty-docstring,
    bad-classmethod-argument,
    inconsistent-return-statements,
    missing-class-docstring,
    missing-function-docstring,
    undefined-variable,
    used-before-assignment,
    unused-import,
    unused-variable,
    unused-argument,
    duplicate-argument-name,
    not-callable,
    assignment-from-no-return,
    import-outside-toplevel,
    return-in-init,
    broad-exception-caught,
    raise-missing-from,
    broad-exception-raised,
    singleton-comparison,
    redefined-outer-name,
    consider-using-with,

# Other possible
# duplicate-code

[NAMING]
# PascalCase for class names, including accented letters
class-rgx=^[A-ZÀÈÉÌÒÙ][a-zàèéìòùA-ZÀÈÉÌÒÙ0-9]+$

# this_is_a_variable or àè_variable, and THIS_IS_A_CONSTANT
variable-rgx=^([A-ZÀÈÉÌÒÙ_][A-ZÀÈÉÌÒÙ0-9_]*|[a-zàèéìòù_][a-zàèéìòù0-9_]*)$
const-rgx=^([A-ZÀÈÉÌÒÙ_][A-ZÀÈÉÌÒÙ0-9_]*|[a-zàèéìòù_][a-zàèéìòù0-9_]*)$
attr-rgx=^([A-ZÀÈÉÌÒÙ_][A-ZÀÈÉÌÒÙ0-9_]*|[a-zàèéìòù_][a-zàèéìòù0-9_]*)$
argument-rgx=^[a-zàèéìòù_][a-zàèéìòù0-9_]*$

# snake_case for functions and methods, with optional leading __ and optional trailing __
function-rgx=^_{0,2}[a-zàèéìòù][a-zàèéìòù0-9_]*(__)?$
method-rgx=^_{0,2}[a-zàèéìòù][a-zàèéìòù0-9_]*(__)?$

# Allow any characters for module names
module-rgx=.*$